body, html, body *{
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}
body{
	height: 100vh;
	width: 100vw;
	overflow: hidden
}


.zdog-canvas {
	background: #FDB;
	cursor: move;
	min-height: 100vh;
	min-width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
}
.text {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

svg {
    height: 80px;
    width: auto;
    color: #fff;
}